* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

html, body {
    height: 100%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-column {
    flex-direction: column;
}

.items-center {
    justify-content: center;
    align-items: center;
}

header {
    font-size: 2rem;
    font-weight: bold;
    padding: 5% 0;
    margin-bottom: 32px;
}

main {
    gap: 16px;
}

button, input[type="submit"] {
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 8px 16px;
}

button:hover, input[type="submit"]:hover {
    filter: brightness(0.8);
}

#board {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    gap: 2px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    font-size: 1.75rem;
}

#button-container {
    gap: 12px;
}

#turn-display {
    height: 100px;
    font-size: 1.5rem;
}

.cross {
    color: red;
}

.circle {
    color: blue;
}

dialog[open] {
    position: fixed;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

dialog {
    border-radius: 10px;
}

form {
    margin-top: 16px;
}

input[type="submit"] {
    margin-top: 12px;
    font-size: 0.9rem;
}
dialog > .wrapper {
    gap: 8px;
}

dialog > div > div {
    font-size: 1.5rem;
    padding: 16px;
}

form > div {
    gap: 8px;
}

input[type="text"] {
    padding: 4px 16px;
    border-radius: 20px;
}

#close-modal {
    background-color: white;
    color: black;
    height: fit-content;
}

#close-modal:hover {
    filter: none;
}